__pycache__
test.py
*.zip
*.pth
data/celeba/*
celeba-dataset/*
./celeba-dataset/*
./celeba-dataset/img_align_celeba/*
./celeba-dataset/img_align_celeba/img_align_celeba/*
./celeba-dataset/img_align_celeba/img_align_celeba/*.jpg
./celeba-dataset/img_align_celeba/img_align_celeba/*.png
./celeba-dataset/img_align_celeba/img_align_celeba/*.jpeg
./celeba-dataset/img_align_celeba/img_align_celeba/*.gif
./celeba-dataset/img_align_celeba/img_align_celeba/*.bmp
./celeba-dataset/img_align_celeba/img_align_celeba/*.tiff
./celeba-dataset/img_align_celeba/img_align_celeba/*.webp
./celeba-dataset/img_align_celeba/img_align_celeba/*.ico
./celeba-dataset/img_align_celeba/img_align_celeba/*.svg

./celeba-dataset/img_align_celeba/img_align_celeba/*.webp
./celeba-dataset/img_align_celeba/img_align_celeba/*.ico
./celeba-dataset/img_align_celeba/img_align_celeba/*.svg
model_weights/logs/*
model_weights/de*
model_weights/en*
model_weights/va*
model_weights/checkpoint/checkpoint.keras
attributes_embedings/attributes_embedings.json
uv.lock
.python-version
./sample_images/*
